@import url(https://fonts.googleapis.com/css?family=Oswald:400);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgba(20, 0, 20, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Styling for the "Change" and "Reset" buttons */
button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(60, 10, 120, 0.9);
  color: white;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(88, 25, 164);
  color: gray;
}
